.list {
  background-color: white;
  border-radius: 10px;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

.list a {
  text-decoration: none;
}

.listing h3:hover {
  color: gray;
}

.listing {
  padding: 10px;
  padding-left: 20px;
  border-bottom: 1px solid #fffd77;
  z-index: 1000000;
}

.listing h3 {
  color: #312f2f;
}

.make-login {
  margin: 0 auto;
  text-align: center;
}

.sites {
    padding-bottom: 400px;
}

#center {
  text-align: center;
  margin: 0 auto;
}
