/* General Styling */

h1 {
  color: #0e3d88;
  font-family: 'Baloo Thambi 2', serif;
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  color: #0e3d88;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Rubik', sans-serif;
}

h4 {
  font-family: 'Rubik', sans-serif;
}


.App {
  background-color: #EDEAE8;
  padding-bottom: 40px;
  border-radius: 20px;
  padding: 15px;
}

.App-header {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  flex-direction: column;
  background-color: #0D2A59;
  border-radius: 10px;
  align-items: flex-end;
  width: 100vw;
  height: 90vh;
}

.nav a, p {
  text-decoration: none;
  color: white;
  font-family: 'Rubik', sans-serif;
  padding: 20px;
  padding-right: 40px;
  font-size: 24px;
  text-align: right;
  cursor: pointer;
}

.nav a:hover, p:hover {
  color:  #A6D9F7;
}

.nav p {
  font-size: 30px;
  padding: 20px;
  padding-right: 40px;
}

 i {
  color: black;
  position: right;
  padding: 20px;
  font-size: 40px;
  cursor: pointer;
}

i:hover {
  color: #A6D9F7
}

.logo {
  height: 100px;
}